Flask
Flask-JWT-Extended
Flask-SQLAlchemy
flask-migrate
psycopg2-binary
alembic
python-dotenv
PyPDF2
pandas
openpyxl
pytesseract
Pillow
python-docx
lxml
Flask-SocketIO
google-api-python-client
google-auth
openai
langdetect
googletrans==4.0.0rc1
opencv-python
requests
python-socketio
eventlet
APScheduler
beautifulsoup4
selenium
webdriver-manager
